:root {
    --botao-azul:blue;
    --fundo-principal:black;
    --fundo-secundario:gray;
    --branco-principal:white;

}

body {
    background-color: var(--fundo-principal);
    color: var(--branco-principal);
}
